<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wesallen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <!-- No SQL Server va em Consulta -> Alterar Conexão -> Editar Conexão -> Irá abrir uma janela -> Copie o nome do servidor, delete os caracteres do sinal de " = " até o sinal " ; " e cole o novo nome do servidor-->
  <!-- Os campos Data Source é o IP ou Nome do Servidor de banco de dados-->
  <!--O campo Initial Catalog é o nome do banco de dados que deve ser criado-->
  <connectionStrings>
        <add name="wesallen.Properties.Settings.connectionString" 
             connectionString="Data Source=LAPTOP-RPPSITUI\SQLEXPRESS;
                               Initial Catalog=BMISOLUTION;
                               Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <wesallen.Properties.Settings>
            <setting name="confg" serializeAs="String">
                <value />
            </setting>
        </wesallen.Properties.Settings>
    </userSettings>
</configuration>